section
  md-subheader.md-primary.md-sticky-no-effect
    div.md-subheader-content
      h2.md-subheader-content Mes projets

  md-list( layout="column" )
    md-item( layout="row" layout-align="center" ng-hide="projects.length" )
      md-divider
      md-item-content
        div.md-tile-left
          md-button.md-raised.md-warn(
            aria-label="Créer votre projet"
            ui-sref="main.newProject"
          )
            span.fa.fa-plus
            |  Créez votre premier projet
    md-item( 
      ng-repeat="project in projects"
      ng-click="navToProject(project)"
      style="position: relative"
      md-ink-ripple
    )
      md-divider
      md-item-content
        div.md-tile-left
          div.news-count( 
            layout="row"
            layout-align="center center" 
          )
            span {{ project.new_ads_count }}
        div.md-tile-content
          h3.text-cyan {{ project.name }} 

md-button.action-button.md-warn.md-fab( 
  ui-sref="main.newProject"
  aria-label="new project"
)
  span.fa.fa-plus
