div.big-padding
  md-subheader.md-primary Définissez vos critères de recherche
  md-content.md-padding
    md-input-container
      label Nom du projet
      input(
        ng-model="project.name"
        type="text"
        name="name"
      )
    md-input-container
      label Surface minimale : (m
        sup 2
        | )
      input(
        ng-model="project.search_criteria.min_surface"
        type="number"
        name="surface min"
      )
    md-input-container
      label Surface maximale : (m
        sup 2
        | )
      input(
        ng-model="project.search_criteria.max_surface"
        type="number"
        name="surface max"
      )
    md-input-container
      label Loyer minimal : (&euro;)
      input(
        ng-model="project.search_criteria.min_price"
        type="number"
        name="prix min"
      )
    md-input-container
      label Loyer maximal : (&euro;)
      input(
        ng-model="project.search_criteria.max_price"
        type="number"
        name="prix max"
      )
    md-input-container
      label Code Postal : 
      input(
        ng-model="project.search_criteria.district"
        type="text"
        name="arrondissement"
      )
    md-input-container
      label Recevoir des alertes emails à la parution de nouvelles annonces : 
      input(
        ng-model="project.send_alert_emails"
        type="checkbox"
        name="recevoir des alertes emails"
      )



    div( layout, layout-align="end", style="margin-top: 30px" )
      md-button( 
        aria-label="cancel"
        ui-sref="main.project.news"
        ng-show="$state.current.name == 'main.project.edit'"
      )
        | annuler 
      &nbsp;
      md-button.md-raised.md-warn( 
        aria-label="createOrEditProject"
        ng-click="createProject()"
      )
        | {{ action }} 
