div.big-padding
  md-subheader.md-primary Définissez vos critères de recherche
  md-content.md-padding
    md-input-container
      label Nom du projet
      input(
        ng-model="project.name"
        type="text"
        name="name"
      )

    md-input-container
      label Ville de référence
      input(
        ng-model="project.town"
        typeahead-min-length="3"
        typeahead-on-select="console.log($item)"
        typeahead-wait-ms="100"
        typeahead-loading="loading"
        typeahead="town as town.readable_name for town in townsTypeahead( $viewValue )"
        name="name"
      )

    div( layout, layout-align="end", style="margin-top: 30px" )
      md-button.md-raised.md-warn( 
        ng-click="createProject()"
      )
        | Créer le projet
