md-sidenav.md-whiteframe-z2(
  md-component-id="sidenav-left"
)
  md-toolbar
    h1.md-toolbar-tools 
      span.fa.fa-bars( 
        ng-click="toggleLeftNav()"
        style="cursor: pointer"
      )
      span.pacifico( ui-sref="main.projects.list" )  &nbsp; &nbsp; Terrains à construire

  md-content
    md-subheader.md-primary navigation
    md-list
      md-item
        md-item-content 
          div.md-tile-content 
            span( ui-sref="main.projects.list", ng-click="toggleLeftNav()" )  mes projets
      md-item
        md-item-content 
          div.md-tile-content
            span.fa.fa-plus 
            span(ui-sref="main.projects.new", ng-click="toggleLeftNav()")  nouveau projet
      md-item
        md-divider
        md-item-content
          div.md-tile-content 
            span.fa.fa-power-off( ng-click="Auth.logout(); toggleLeftNav()" )  déconnexion

div.full-height( layout="column", layout-fill )
  md-toolbar.md-primary( style="position: relative" )
    h1.md-toolbar-tools 
      span.fa.fa-bars( ng-click="toggleLeftNav()", style="cursor: pointer" )
      a.pacifico( ui-sref="main.projects.list" )  &nbsp; &nbsp; Terrains à construire
      div( ui-view="title" ) 

  md-toolbar( 
    style="min-height: 55px"
    ng-show="$state.includes('main.projects.detail')"
  )
    md-tabs( 
      class="md-whiteframe-z1 md-white-theme"
      md-stretch-tabs="always"
      style="z-index: 3; position: relative; display: block"
    )
      md-tab.md-left-tab( 
        md-active="$state.current.name == 'main.projects.detail.archived'"
        md-on-select="$state.go('main.projects.detail.archived')"
      )
        md-tab-label 
          span.fa.fa-archive
          span( hide-sm )  archivés

      md-tab( 
        md-active="$state.current.name == 'main.projects.detail.new'" 
        md-on-select="$state.go('main.projects.detail.new')"
      )
        md-tab-label 
          span.fa.fa-home
          span( hide-sm )  non classés

      md-tab.md-right-tab( 
        md-active="$state.current.name == 'main.projects.detail.favourite'"
        md-on-select="$state.go('main.projects.detail.favourite')"
      )
        md-tab-label
          span.fa.fa-star
          span( hide-sm )  intéressants


  md-content(class="full-width full-height grey-bg landing-background")
    div( ui-view="main", class="wrapper" )

