md-sidenav( 
  md-is-locked-open="$media('gt-md')" 
  md-component-id="sidenav-left" 
  ui-view="sidenav" 
  ng-show="$state.includes('main.project')"
)
div.full-height( layout="column", layout-fill )
  md-toolbar.md-primary( style="position: relative" )
    h1.md-toolbar-tools 
      span.fa.fa-bars( 
        ng-click="toggleLeftNav()"
        style="cursor: pointer" hide-gt-md
        ng-show="$state.includes('main.project')"
      )
      a.pacifico( ui-sref="main.projects" )  &nbsp; &nbsp; Cherche ton appart 
      div( ui-view="title" ) 

  md-content(class="full-width full-height grey-bg landing-background")
    div( ui-view="main", class="wrapper full-height" )
