md-sidenav( 
  md-is-locked-open="$media('gt-md')" 
  md-component-id="sidenav-left" 
  ui-view="sidenav" 
  ng-show="$state.includes('main.project')"
)
div.full-height( layout="column", layout-fill )
  md-toolbar.md-primary( style="position: relative" )
    h1.md-toolbar-tools 
      span.fa.fa-bars( 
        ng-click="toggleLeftNav()"
        style="cursor: pointer" hide-gt-md
      )
      a.pacifico( ui-sref="main.projects")  &nbsp; &nbsp; Cherche ton appart à Paris
      div( ui-view="title" ) 
      div( flex )
      span.fa.fa-search( 
        ng-show="$state.includes('main.project')" 
        ui-sref="main.project.edit"
      )
      span.fa.fa-power-off(
        ng-click="Auth.logout()"
      )

  md-content(
    class="full-width grey-bg landing-background"
    style="height: 100%" 
    infinite-scroll="loadMoreAds()" 
    infinite-scroll-distance="3" 
    infinite-scroll-immediate-check="false"
  )
    div( ui-view="main", style="height: 100%" ng-class="{'wrapper': $state.current.data.wrapper == undefined}")
