div( layout="column" layout-fill style="height: 100%; overflow: hidden" )
  md-toolbar.md-primary
    h1.md-toolbar-tools 
      span.fa.fa-bars( 
        ng-click="toggleLeftNav()"
        style="cursor: pointer"
        hide-gt-md
        ng-show="$state.includes('main.project')" 
      )
      a( ui-sref="main.projects") &nbsp; ChercheAppart
      div( ui-view="title" ) 
      div( flex )
      span.fa.fa-search( 
        ng-show="$state.includes('main.project')" 
        ui-sref="main.project.edit"
        style="margin-right: 20px"
      )
      span.fa.fa-power-off(
        ng-click="Auth.logout()"
        style="margin-right: 20px"
      )

  div.landing-background( layout="row" layout-fill )
    md-sidenav.content-height( 
      md-is-locked-open="$media('gt-md')" 
      md-component-id="sidenav-left" 
      autoscroll="false"
      ui-view="sidenav" 
      ng-show="$state.includes('main.project')"
    )

    md-content(
      class="full-width grey-bg content-height"
    )
      div( ui-view="main" ng-class="{'wrapper': $state.current.data.wrapper == undefined, 'full-height': $state.current.data.wrapper !== undefined}")
