md-sidenav( 
  md-is-locked-open="$media('gt-md')" 
  md-component-id="sidenav-left" 
  ui-view="sidenav" 
  ng-show="$state.includes('main.project')"
)
div.full-height( layout="column", layout-fill )
  md-toolbar.md-primary( style="position: relative" )
    h1.md-toolbar-tools 
      span.fa.fa-bars( 
        ng-click="toggleLeftNav()"
        style="cursor: pointer" hide-gt-md
        ng-show="$state.includes('main.project')" 
      )
      a( ui-sref="main.projects" hide-gt-md ) &nbsp; ChercheAppart
      div( ui-view="title" ) 
      div( flex )
      span.fa.fa-search( 
        ng-show="$state.includes('main.project')" 
        ui-sref="main.project.edit"
        style="margin-right: 20px"
      )
      span.fa.fa-power-off(
        ng-click="Auth.logout()"
        style="margin-right: 20px"
      )

  md-content(
    class="full-width grey-bg landing-background"
    style="height: 100%" 
  )
    div( ui-view="main", ng-class="{'wrapper': $state.current.data.wrapper == undefined}")
