div( 
  layout="row" 
  style="margin-bottom: 300px"
)
  section( style="position: relative" flex )
    div.md-subheader.md-primary
      div.md-subheader-content
        h2 {{ Project.project.name }} 
        h5( hide-gt-md ) {{ Lists.activeList().name }}

    div
      section
        md-content
          md-list( layout="column" )
            md-item(
              ng-hide="Ads.ads.length"
            )
              md-divider
              md-item-content
                div.md-tile-content
                  Il n'y a pas d'annonces dans cette liste
            md-item( 
              ng-repeat="ad in Ads.ads"
              ng-hide="ad.hide"
              md-swipe-left="archiveAd()"
              md-swipe-right="openMoveAdModal(ad, $event)"
            )
              md-divider
              md-item-content( style="background-color: white" )
                div.md-tile-left.md-image-tile
                  img( ng-src="{{ ad.img }}" style="width: 120px; margin: 10px" )
                div.md-tile-content
                  div
                    h3( ng-click="selectAd(ad)" ) {{ ad.district }} - {{ ad .created_at | date: format: 'dd/mm/yyyy' }}
                    p {{ ad.description }}
                    p {{ ad.price }} &euro;
                    p {{ ad.surface | number }} m
                      sup 2
                  div( style="margin 10px", layout="row" layout-align="end" )
                    div
                      md-button.md-accent( 
                        ng-click="archiveAd(ad)"
                        aria-label="archive"
                      )
                        span.fa.fa-archive.fa-lg

                      md-button.md-primary( ng-click="openMoveAdModal(ad, $event)" aria-label="enlist" )
                        span.fa.fa-list.fa-lg
            md-item(
              ng-show="Ads.ads.length && !Ads.fullyLoaded()"
            )
              md-item-content
                div.md-tile-content( layout="row" layout-align="center" )
                  md-button.md-accent( aria-label="load more" ng-click="Ads.loadNextBatch()")
                    charger plus d'annonces
