md-toolbar.md-primary( hide-gt-md )
  h1.md-toolbar-tools 
    span.fa.fa-bars( 
      ng-click="toggleLeftNav()"
      style="cursor: pointer"
      hide-gt-md
      ng-show="$state.includes('main.project')" 
    )
    a( ui-sref="main.projects") &nbsp; Mes listes
md-content
  md-list.lands-list(
   style="margin-top: 0px; padding-top: 0px; border-right: 1px solid rgba(0, 0, 0, 0.12)"
  )
    md-item( 
      ng-click="selectNews()"
      ng-class="{'active': $state.current.name == 'main.project.news'}"
    )
      md-item-content()
        div.md-tile-left
          div.news-count( 
            layout="row"
            layout-align="center center" 
          )
            span {{ Project.project.new_ads_count }}
        div.md-tile-content
          h3 Nouvelles annonces
    md-item( 
      ng-click="selectList(list)"
      ng-repeat="list in Lists.lists"
      ng-class="{'active': $stateParams.listId == list.id }"
    )
      md-item-content
        div.md-tile-left
          div.news-count( 
            layout="row"
            layout-align="center center" 
          )
            span {{ list.ads_count }}
        div.md-tile-content
          h3 {{ list.name }}



